// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


body{
  //font-family: Lato-Regular
  font-family: Inter-Regular;
  //font-family: Crimson-Light;
}

a{
  font-weight: 800;
}

h1,h2,h3,h4,h5,h6{
  font-family: Inter-SemiBold;
  //font-family: Raleway-Bold;
  //text-transform: uppercase;
}

//modificación de las clases display de BootStrap
//eliminar cuando se actualize la versión de bootstrap a 4.5
//y al habilitar la opción $responsive-font-sizes

@media screen and (max-width: map-get($grid-breakpoints, 'md')){
  .display-3{
   font-size: 3rem;
  }
}

.navbar-light{
  border-bottom: 2px solid $gray-900;
}

.col-header{
  margin: $spacer*2 0 $spacer*2 0;
  border-bottom: 2px solid black;
}
.col-spacer{
  margin-top: $spacer * 4 ;
}


#page-wrapper{
  padding: 6em 0 4em 0;
}

.btn{
  color: $primary;
  border: 2px solid $black;
  background-color: transparent;
  border-radius: 0px;
  &:hover{
    color: $primary;
    background-color: $gray-500;
    border: 2px solid $black;
  }
}

.navbar-brand{
  max-width: 350px;
  img{
    width: 100%;
    height: auto;
  }
}

.secondary-logo{
  margin-left: $spacer * 2;
  margin-right: $spacer * 2;
  img{
    max-width: 128px;
  }
}
// image wp-image-39  attachment-medium size-medium


#wrapper-footer-full{
  padding: 5em 2em 0 2em;
  background-color: $white;
  border-top: 2px solid $gray-900;
  .widget-title{
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .footer-widget{
    ul{
      list-style-type: none;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;

    }
  }
  .textwidget{
    font-size: .8em;
    //margin-top: 30%;
    //position: absolute;
    //bottom: 0;
  }
}


.entry-title{
  margin: $spacer * 2 0 $spacer * 2 0;
}

.entry-subtitle{
  font-family: Inter-Regular;
  font-size: $spacer * 1.5;
}
.entry-meta{
  .author{
    font-family: Inter-SemiBold;
  }
  .date{
    font-family: Inter-Light;
    font-style: italic;
  }
}
.entry-content{
  margin: $spacer * 2.5 0 $spacer * 1.5 0;
  p{
    font-size: 18px;
  }
}

.entry-footer{

}


/// AUTHOR IN POST

//.author-grow{ }

img.profile-gravatar{
  display: inline-block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  max-width: 40px;
  width: 40px;
  transition: all .2s ease-in-out;
  padding: 5px;
  margin-right: 10px;
 &:hover{
   transform: scale(1.1);
 }
}

.page-title{
  text-transform: uppercase;
  font-family: Inter-Bold;
  //border-bottom: 1px solid $gray-900;
  text-transform: uppercase;
}

.page-header{
  margin-top: $spacer * 4;
  margin-bottom: $spacer * 6;
  border-bottom: 2px solid $gray-900;
}

.post-navigation{
  margin: $spacer * 4 0 $spacer * 4 0;
}

/*
.category-colecciones{

  .entry-title{
    font-size: $h6-font-size;
  }
}
*/
#hero-carousel
{
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .carousel-overlay{
     z-index: 100;
     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 100%;
  }
}



///// end multiple item carousel ////

.intro{
  font-size: $spacer * 1.6;
  //font-weight: bold;
  color: $white;
  background-color: transparentize($black, .7);
  padding: 3em;
}


//Información de contacto

.vcard{
  //margin-top: $spacer * 1.5;
  margin-bottom: $spacer * 1.5;
  font-size: $font-size-sm;
  .fn{
    font-family: Inter-SemiBold;
    font-size: $font-size-base;
  }
  .role{
    font-family: Inter-Medium;
  }

}

.wp-block-columns{
  .wp-block-column:not(:first-child){
    margin-left: $spacer * 2;
  }
}


@media screen and (max-width: map-get($container-max-widths, "md")){
  .wp-block-columns{
    flex-direction: column;
    .wp-block-column{
      margin-left: 0px;
    }
  }
}

///////// TINY SLIDER /////////

.controls{
  list-style-type: none;
  li{
    display: inline-block;
  }
  .next{
    float: right;
  }
  .prev{
    float: left;
  }
}
