// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

a{
  font-weight: 800;
}

.col-header{
  margin: 3em 0 2em 0;
  border-bottom: 2px solid black;
}



.btn{
  color: $primary;
  border: 2px solid $black;
  background-color: transparent;
  border-radius: 0px;
  &:hover{
    color: $primary;
    background-color: $gray-500;
    border: 2px solid $black;
  }
}
